In [47]:
import pandas as pd
from ast import literal_eval

In [48]:
def intersection(lst1, lst2): 
  
    # Use of hybrid method 
    temp = set(lst2) 
    lst3 = [value for value in lst1 if value in temp] 
    return lst3 
def sentiment(id):
    try: 
        sentiment_value = dict_sent[id]
        return sentiment_value
    except:
        return 99
def literal_return(val):
    try:
        return literal_eval(val)
    except (ValueError, SyntaxError) as e:
        return val
def add_airline(number):
    if number == 1:
        return

In [27]:
try:
    dict_sent[0]
except:
    print('Not in there')

Not in there

In [6]:
%run import_file.ipynb
#df_topics = pd.read_csv (r'C:\Users\20193703\Documents\University\Data challenge\CSV\topic_id.csv')
#df_airlines = pd.read_csv (r'C:\Users\20193703\Documents\University\Data challenge\CSV\id_airline.csv')
#df_sentiment_full = pd.read_csv (r'C:\Users\20193703\Documents\University\Data challenge\CSV\full_basic_with_sentiment.csv')

Python version is 3.7.5 (tags/v3.7.5:5c02a39a0b, Oct 15 2019, 00:11:34) [MSC v.1916 64 bit (AMD64)]
Pandas version is 1.0.3
C:/Users/20193815/Documents/Datasets/full_basic_with_sentiment.csv

c:\users\20193815\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3,5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Unnamed: 0        int64
_id              object
created_at       object
id               object
id_str          float64
text             object
user.id_str     float64
lang             object
timestamp_ms    float64
sentiment         int64
dtype: object

Please specify your DataFrame name:  df_sentiment

created_at converted to string, use timestamp for datetime dtype
Skip id, use id_str instead
timestamp converted to datetime dtype
Dtypes after transformation:
 Unnamed: 0               int64
created_at              object
id                      object
id_str                   Int64
text                    object
user.id_str              Int64
lang                    object
timestamp_ms    datetime64[ns]
sentiment                int64
dtype: object

In [22]:
df_sentiment.tail()

                      id_str  sentiment
7527681  1244696703690772480          0
7527682  1244696708983984128          1
7527683  1244696710447800320          0
7527684  1244696713350217728          0
7527685  1244696713765564416          0

In [23]:
df_topic.tail()

,Baggage,Delay,Pollution,Cancel,Service,Ticket,Corona,id_str
7984090,0,0,0,0,0,0,0,1244696703690772480
7984091,0,0,0,0,0,0,0,1244696708983984128
7984092,0,0,0,0,0,0,0,1244696710447800320
7984093,0,0,0,0,0,0,0,1244696713350217728
7984094,0,0,0,0,0,0,0,1244696713765564416

In [24]:
df_airlines.head()

                id_str  KLM  British Airways  American Air  Lufthansa  RyanAir
0  1131172858951024640    0                0             0          0        0
1  1131172864147808256    0                0             0          0        0
2  1131172867985485824    0                1             0          0        0
3  1131172909463027712    0                0             1          0        0
4  1131172975682605056    0                0             0          0        0

In [10]:
df_sentiment = df_sentiment.drop(['created_at', 'id', 'lang', 'text', 'timestamp_ms', 'user.id_str', 'Unnamed: 0'], axis = 1)
df_topic.drop(['Unnamed: 0', 'Topic'], axis = 1, inplace = True)
df_airlines.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [11]:
len(df_sentiment), len(df_airlines), len(df_topic)

(6870008, 6451965, 7984095)

In [20]:
#dict_sent = dict(zip(df_sentiment.id_str, df_sentiment.sentiment))
dict_topic = dict(zip(df_topic.id_str, df_topic[['Baggage', 'Delay','Pollution','Cancel','Service','Ticket','Corona']].values))

In [14]:
dict_sent[1131173622855413760]

0

In [32]:
df_topic['sentiment'] = df_topic['id_str'].apply(sentiment)

In [37]:
df_topic['sentiment'].value_counts()

 0    4385472
 1    2016034
-1    1582589
Name: sentiment, dtype: int64

In [50]:
type(df_topic['airline'][0])

str

In [ ]:
df_topic['airline'] = df_topic['airline'].apply(literal_return)

In [13]:
df_topic = df_topic.sort_values('id_str')
df_sentiment = df_sentiment.sort_values('id_str')
df_airlines = df_airlines.sort_values('id_str')
len(df_sentiment), len(df_topic), len(df_airlines)

(6870008, 7984095, 6451965)

In [ ]:
df_all = pd.merge(df_airlines, df_sentiment_full, left_on='id_str', right_on='id_str')

In [ ]:
df_all = pd.merge(df_all, df_topics, left_on = 'id_str', right_on = 'id_str')

In [27]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],
                  columns=['A', 'B', 'C'])

In [33]:
df.iloc[[1,2],:]

    A   B   C
1   0   4   1
2  10  20  30