In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
pd.options.display.float_format = '{:.0f}'.format

<h2>Only for google colab:</h2>

In [3]:
# from google.colab import drive
# drive.mount('/content/gdrive/')

# !ls '/content/gdrive/My Drive/Data challenge/code'

# # import single json file as dataframe
# df = pd.read_json('/content/gdrive/My Drive/Data challenge/code/airlines-1558527599826.json', orient = 'records', lines = True)

In [145]:
# df = pd.read_json('airlines-1558527599826.json', orient = 'records', lines = True)
df = pd.read_csv('Full_basic.csv', usecols=['id_str','created_at'])

C:\Users\philipp\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [146]:
not_number = df[df['id_str'].isna()]
lst = not_number.index
df.drop(lst, inplace = True)
df['id_str']=df['id_str'].astype('int64')
# df['id']=df['id'].astype('int64')
df = df.rename({'id_str': 'id'}, axis=1)

In [147]:
df_conv = pd.read_csv('conversation_full.csv')

In [148]:
df['in_reply_to_status_id']=df_conv['in_reply_to_status_id']

In [149]:
# disply available columns
df.dtypes

created_at                object
id                         int64
in_reply_to_status_id    float64
dtype: object

In [150]:
conv_list=[]

In [151]:
df=df.sort_values('created_at')

In [152]:
# def myindex(lst, target):
#     for index, item in enumerate(lst):
#         if item == target:
#             return [index]
#         if isinstance(item, str): # or 'basestring' in 2.x
#             return []
#         try:
#             path = myindex(item, target)
#         except TypeError:
#             pass
#         else:
#             if path:
#                 return [index] + path
#     return []

In [153]:
# contain=[]
# index_length=0
# for row in df.itertuples():
    
#     if math.isnan(getattr(row,'id')):
#         print('id is nan')
#         continue
# #     print(int(getattr(row,'id')))
# #     print(type(getattr(row,'in_reply_to_status_id')))
#     if math.isnan(getattr(row,'in_reply_to_status_id')):
#         conv_list.append([int(getattr(row,'id'))])
#     else:
#         index=myindex(conv_list,int(getattr(row,'in_reply_to_status_id')))
#         if len(index)>index_length:
#             index_length=len(index)
#         if len(index)==0:
# #             print('could not match in_reply_to_status_id',int(getattr(row,'in_reply_to_status_id')))
#             continue
#         if len(index)==1:
#             if type(conv_list[index[0]]) is int:
#                 conv_list[index[0]]=[conv_list[index[0]]]
#             conv_list[index[0]].append(int(getattr(row,'id')))
#             continue
#         if len(index)==2:
#             if type(conv_list[index[0]][index[1]]) is int:
#                 conv_list[index[0]][index[1]]=[conv_list[index[0]][index[1]]]
#             conv_list[index[0]][index[1]].append(int(getattr(row,'id')))
#             continue
#         if len(index)==3:
#             if type(conv_list[index[0]][index[1]][index[2]]) is int:
#                 conv_list[index[0]][index[1]][index[2]]=[conv_list[index[0]][index[1]][index[2]]]
#             conv_list[index[0]][index[1]][index[2]].append(int(getattr(row,'id')))
#             continue
#         if len(index)==4:
#             if type(conv_list[index[0]][index[1]][index[2]][index[3]]) is int:
#                 conv_list[index[0]][index[1]][index[2]][index[3]]=[conv_list[index[0]][index[1]][index[2]][index[3]]]
#             conv_list[index[0]][index[1]][index[2]][index[3]].append(int(getattr(row,'id')))
#             continue
#         if len(index)==5:
#             if type(conv_list[index[0]][index[1]][index[2]][index[3]][index[4]]) is int:
#                 conv_list[index[0]][index[1]][index[2]][index[3]][index[4]]=[conv_list[index[0]][index[1]][index[2]][index[3]][index[4]]]
#             conv_list[index[0]][index[1]][index[2]][index[3]][index[4]].append(int(getattr(row,'id')))
#             continue
#         if len(index)==6:
#             if type(conv_list[index[0]][index[1]][index[2]][index[3]][index[4]][index[5]]) is int:
#                 conv_list[index[0]][index[1]][index[2]][index[3]][index[4]][index[5]]=[conv_list[index[0]][index[1]][index[2]][index[3]][index[4]][index[5]]]
#             conv_list[index[0]][index[1]][index[2]][index[3]][index[4]][index[5]].append(int(getattr(row,'id')))
#         if len(index)==7:
#             if type(conv_list[index[0]][index[1]][index[2]][index[3]][index[4]][index[5]][index[6]]) is int:
#                 conv_list[index[0]][index[1]][index[2]][index[3]][index[4]][index[5]][index[6]]=[conv_list[index[0]][index[1]][index[2]][index[3]][index[4]][index[5]][index[6]]]
#             conv_list[index[0]][index[1]][index[2]][index[3]][index[4]][index[5]][index[6]].append(int(getattr(row,'id')))

In [154]:
df.drop_duplicates(subset ="id", 
                     keep = 'first', inplace = True)

In [155]:
df=df.drop(df[df['id']==df['in_reply_to_status_id']].index)

In [156]:
def met1():
    index=0
    conv_list=[]
    used=[]
    def lookup(ids):
        ret_list=[]
        for row in df[df['in_reply_to_status_id']==ids].itertuples():
            used.append(getattr(row,'id'))
            buffer=df[df['id']==getattr(row,'id')]
            if len(buffer)==0:
                ret_list.append(getattr(row,'id'))
            else:
                lookup_ret=lookup(buffer['id'].item())
                if lookup_ret:
                    ret_list.extend([getattr(row,'id'),lookup_ret])
                else:
                    ret_list.append(getattr(row,'id'))
        if len(ret_list)==0:
            return
        return ret_list

    for row in df.itertuples():
        index+=1
        if math.isnan(getattr(row,'id')):continue
        this_id=getattr(row,'id')
        if this_id in used: continue
        bla=[this_id]
        lookup_ret=lookup(this_id)
        if lookup_ret:
            if len(lookup_ret)==1:
                bla.append(lookup_ret[0])
            else:
                bla.extend(lookup_ret)
        conv_list.append(bla)

In [157]:
def met2():
    def lookup(ids):
        ret_list=[]
        for row in df[df['in_reply_to_status_id']==ids].itertuples():
            used.append(getattr(row,'id'))
            buffer=df[df['id']==getattr(row,'id')]
            if len(buffer)==0:
                ret_list.append(getattr(row,'id'))
            else:
                lookup_ret=lookup(buffer['id'].item())
                if lookup_ret:
                    ret_list.extend([getattr(row,'id'),lookup_ret])
                else:
                    ret_list.append(getattr(row,'id'))
        if len(ret_list)==0:
            return
        return ret_list
    index=0
    used=[]
    with open('conversations_list.txt', 'w') as f:        
        for row in df.itertuples():
            index+=1
            if math.isnan(getattr(row,'id')):continue
            this_id=getattr(row,'id')
            if this_id in used: continue
            bla=[this_id]
            lookup_ret=lookup(this_id)
            if lookup_ret:
                if len(lookup_ret)==1:
                    bla.append(lookup_ret[0])
                else:
                    bla.extend(lookup_ret)
            f.write("%s\n" % bla)

In [164]:
def met4():
    def lookup(ids):
        ret_list=[]
        for row in df[df['in_reply_to_status_id']==ids].itertuples():
            used.add(getattr(row,'id'), )
            buffer=df[df['id']==getattr(row,'id')]
            if len(buffer)==0:
                ret_list.append(getattr(row,'id'))
            else:
                lookup_ret=lookup(buffer['id'].item())
                if lookup_ret:
                    ret_list.extend([getattr(row,'id'),lookup_ret])
                else:
                    ret_list.append(getattr(row,'id'))
        if len(ret_list)==0:
            return
        return ret_list
    index=0
    used=set()
    with open('conversations_list.txt', 'w') as f:        
        for row in df.itertuples():
            index+=1
            if math.isnan(getattr(row,'id')):continue
            this_id=getattr(row,'id')
            if this_id in used: continue
            bla=[this_id]
            try:
                lookup_ret=lookup(this_id)
            except:
                continue
            if lookup_ret:
                if len(lookup_ret)==1:
                    bla.append(lookup_ret[0])
                else:
                    bla.extend(lookup_ret)
            f.write("%s\n" % bla)

In [ ]:
%%time
met4()

In [46]:
index

2

In [47]:
df[df['id']==1146945669124386816][['id','in_reply_to_status_id']]

                          id  in_reply_to_status_id
1342362  1146945669124386816    1146945669124386816

In [48]:
df[df['in_reply_to_status_id']==1146945669124386816]

,created_at,id,in_reply_to_status_id
1342362,Fri Jul 05 00:55:31 +0000 2019,1146945669124386816,1146945669124386816
1342376,Fri Jul 05 00:57:34 +0000 2019,1146946184927469568,1146945669124386816

In [ ]:
df[df['in_reply_to_status_id']==1154291993113243648]

In [ ]:
print(conv_list)

<h2>Removing single tweets:</h2>

In [ ]:
# def recursive_len(item):
#     if type(item) == list:
#         return sum(recursive_len(subitem) for subitem in item)
#     else:
#         return 1

# length=0
# for x in range(len(conv_list),0):
#     if recursive_len(von_list[x])==1:
#          conv_list.remove(x)

In [ ]:
len(conv_list)