In [1]:
import pandas as pd
import datetime

In [2]:
pd.options.display.max_rows = 999

In [3]:
pd.__version__

'1.0.3'

In [4]:
#path_to_csv="C:\Users\20193815\Documents\Data Challenge\month_csv.csv"
df = pd.read_csv(r"C:/Users/20193635/Documents/Data Science Year 1/Q4/Data Challenge/Fulls csv/Full_basic.csv", header = 0)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,2,4,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.iloc[6009]

_id             5ec66ff9f3c74bef68595cbb
created_at                           NaN
id                                   NaN
id_str                               NaN
text                                 NaN
user.id_str                          NaN
lang                                 NaN
timestamp_ms                         NaN
Name: 6009, dtype: object

In [6]:
df.shape

(7527686, 8)

In [7]:
df.dtypes

_id              object
created_at       object
id               object
id_str          float64
text             object
user.id_str     float64
lang             object
timestamp_ms    float64
dtype: object

In [8]:
not_number = df[df['id'].isna()]

In [9]:
lst = not_number.index.array
lst

<PandasArray>
[   6009,    8216,   16647,   18854,   33691,   39884,   42017,   43715,
   49880,   51891,
 ...
 7453012, 7464490, 7467687, 7474223, 7477281, 7484824, 7487222, 7504282,
 7516499, 7525773]
Length: 657678, dtype: int64

In [10]:
df.drop(lst, inplace = True)

In [11]:
df['id_str'].astype('int64')

0          1131172858951024640
1          1131172864147808256
2          1131172867985485824
3          1131172909463027712
4          1131172975682605056
                  ...
7527681    1244696703690772480
7527682    1244696708983984128
7527683    1244696710447800320
7527684    1244696713350217728
7527685    1244696713765564416
Name: id_str, Length: 6870008, dtype: int64

In [12]:
df['timestamp_ms'] = pd.to_datetime(df['timestamp_ms'], unit = 'ms')

In [13]:
df.dtypes

_id                     object
created_at              object
id                      object
id_str                 float64
text                    object
user.id_str            float64
lang                    object
timestamp_ms    datetime64[ns]
dtype: object