In [1]:
import pandas as pd
import json
from ast import literal_eval

In [2]:
def cleanup(df):
    """Removes unnecessary columns and converts to the correct dtype"""
    try:
        df.drop('_id', axis = 1, inplace = True)
    except:
        print('_id not found')
    
    #Remove rows where id has a missing value
    not_number = df[df['id_str'].isna()]
    lst = not_number.index.array
    df.drop(lst, inplace = True)
    col_names = list(df.columns)
    
    string = ['text', 'lang', 'in_reply_to_status_id_str', ''] # Not all columnsnames have to be present in the used data set
    integer = ['id_str','user.id_str', 'in_reply_to_status_id']
    
    
    for col in col_names:
        if col == 'created_at':
            df[col] = df[col].astype(str)
            print('created_at converted to string, use timestamp for datetime dtype')
        if col == 'timestamp_ms':
            df[col] = pd.to_datetime(df[col], unit = 'ms')
            print('timestamp converted to datetime dtype')
        if col == 'id':
            print('Skip id, use id_str instead')
        if col in integer:
            df[col] = df[col].astype(pd.Int64Dtype())
        if col in string:
            df[col] = df[col].astype(str)

    return df
def literal_return(val):
    try:
        return literal_eval(val)
    except (ValueError, SyntaxError) as e:
        return val
    
def get_mention(lst):
    mentions = []
    mistakes = []
    if not lst:
        return mentions
    if type(lst) != list:
        mistakes.append(lst)
        return mentions
    for i in lst:
        mentions.append(i['id'])
    return mentions
def strip(string):
    string = string.replace('[', '')
    string = string.replace(']', '')
    return string.split(',')

In [3]:
df = pd.read_csv('../../Data Challenge/full_basic_with_sentiment.csv')

c:\users\20193815\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3,5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df['sentiment'] = df['sentiment'].astype(pd.Int64Dtype())

In [5]:
df['id_str'] = df['id_str'].astype(pd.Int64Dtype())

In [6]:
df_sent = df[['id_str','sentiment']].iloc[:].copy()

In [7]:
dict_sent = dict(zip(df_sent.id_str, df_sent.sentiment))

In [8]:
df_sent.id_str

0          1131172858951024640
1          1131172864147808384
2          1131172867985485824
3          1131172909463027584
4          1131172975682605056
                  ...
7527681    1244696703690772480
7527682    1244696708983984128
7527683    1244696710447800320
7527684    1244696713350217728
7527685    1244696713765564416
Name: id_str, Length: 7527686, dtype: Int64

In [9]:
df_mentions = pd.read_csv('../../Data Challenge/mentions.csv')

In [13]:
df_mentions['id_str'] = df_mentions['id_str'].astype(pd.Int64Dtype())

In [14]:
df_mentions['mentions'] = df_mentions['entities.user_mentions'].apply(literal_return)

In [15]:
df_mentions['at_mentions'] = df_mentions['mentions'].apply(get_mention)

In [16]:
df_mentions['at_mentions']

0                                                         []
1          [880417607865815000, 1000793307688058900, 2789...
2                                                 [18332190]
3                            [227687574, 22536055, 13192972]
4                          [2835499934, 3274266002, 8279892]
                                 ...
6454270                                          [617675801]
6454271                                                   []
6454272    [981851323372068900, 918884023, 2312039984, 22...
6454273                                 [277637843, 2902821]
6454274                                           [38676903]
Name: at_mentions, Length: 6454275, dtype: object

In [17]:
#Definitions
KLM = 56377143
AirFrance = 106062176
British_Airways = 18332190
AmericanAir = 22536055
Lufthansa = 124476322
AirBerlin = 26223583
AirBerlin_assist = 2182373406
easyJet = 38676903
RyanAir = 1542862735
SingaporeAir = 253340062
Qantas = 218730857
EtihadAirways = 45621423
VirginAtlantic = 20626359

In [18]:
total_KLM = 0
total_AirFrance = 0
total_British_Airways = 0 
total_AmericanAir = 0
total_Lufthansa = 0
total_AirBerlin = 0
total_AirBerlin_assist = 0
total_easyJet = 0
total_RyanAir = 0
total_SingaporeAir = 0
total_Qantas = 0
total_EtihadAirways = 0 
total_VirginAtlantic = 0
for lst in df_mentions['at_mentions']:
    try:
        for i in lst:
            if i == KLM:
                total_KLM += 1
            if i == AirFrance:
                total_AirFrance += 1
            if i == British_Airways:
                total_British_Airways += 1
            if i == AmericanAir:
                total_AmericanAir += 1
            if i == Lufthansa:
                total_Lufthansa += 1
            if i == AirBerlin:
                total_AirBerlin += 1
            if i == AirBerlin_assist:
                total_AirBerlin_assist += 1
            if i == easyJet:
                total_easyJet += 1
            if i == RyanAir:
                total_RyanAir += 1
            if i == SingaporeAir:
                total_SingaporeAir += 1
            if i == Qantas:
                total_Qantas += 1
            if i == EtihadAirways:
                total_EtihadAirways += 1
            if i == VirginAtlantic:
                total_VirginAtlantic += 1
    except:
        pass

In [19]:
print("KLM",total_KLM,
"AirFrance",total_AirFrance,
'British Airways', total_British_Airways,
'AmericanAir', total_AmericanAir,
'Lufthansa', total_Lufthansa,
'AirBerlin', total_AirBerlin,
'AirBerlin assist', total_AirBerlin_assist,
'easyJet', total_easyJet,
'RyanAir', total_RyanAir,
'SingaporeAir', total_SingaporeAir,
'Qantas', total_Qantas,
'EtihadAirways', total_EtihadAirways,
'VirginAtlantic', total_VirginAtlantic)

KLM 240757 AirFrance 96992 British Airways 570032 AmericanAir 817589 Lufthansa 129993 AirBerlin 412 AirBerlin assist 3 easyJet 351436 RyanAir 345075 SingaporeAir 74189 Qantas 170770 EtihadAirways 80642 VirginAtlantic 164469

In [21]:
conversations = pd.read_csv('conversations_list.txt', sep="\n", header=None)

In [22]:
conversations['list'] = conversations[0].apply(strip)

In [23]:
df_mentions.drop('_id', axis = 1, inplace = True)

In [24]:
df_mentions.drop('entities.user_mentions', axis = 1, inplace = True)

In [25]:
df_mentions.drop('mentions', axis  = 1, inplace = True)

In [26]:
conversations

,0,list
0,"[1131173010508062720, 1131175995321520128, [11...","[1131173010508062720, 1131175995321520128, 1..."
1,"[1131173313982734336, 1131176158647717888, [11...","[1131173313982734336, 1131176158647717888, 1..."
2,"[1131173345918148608, 1131180770738036736]","[1131173345918148608, 1131180770738036736]"
3,"[1131174768114323456, 1131178958286991360, [11...","[1131174768114323456, 1131178958286991360, 1..."
4,"[1131174885865205760, 1131177862101426176]","[1131174885865205760, 1131177862101426176]"
...,...,...
369027,"[1244693824519184384, 1244696279197847552]","[1244693824519184384, 1244696279197847552]"
369028,"[1244694028899307520, 1244695930475098112]","[1244694028899307520, 1244695930475098112]"
369029,"[1244694239793070080, 1244695453674897408]","[1244694239793070080, 1244695453674897408]"
369030,"[1244694632220549120, 1244695423618555904, 124...","[1244694632220549120, 1244695423618555904, 1..."
369031,"[1244695110639632384, 1244696125833175040]","[1244695110639632384, 1244696125833175040]"

# Stappenplan
1. df_mentions['airline'] = airline per tweet
2. dict['id'] = airline per tweet
3. if tweet id of conversation in dict:
    conversations['airline'] = dict['id']
4. delete duplicates in conversations['airline']

In [27]:
British_Airways = 18332190
AmericanAir = 22536055
Lufthansa = 124476322
AirBerlin = 26223583
AirBerlin_assist = 2182373406
easyJet = 38676903
RyanAir = 1542862735
SingaporeAir = 253340062
Qantas = 218730857
EtihadAirways = 45621423
VirginAtlantic = 20626359

In [37]:
def airline_lookup(self, airline = RyanAir):
    """Lookup airlines in list"""
    if not self:
        return 0
    for i in self:
        if int(i) == airline:
            return 1
    return 0

In [30]:
df_mentions['KLM'] = df_mentions['at_mentions'].apply(airline_lookup)

In [32]:
df_mentions['British Airways'] = df_mentions['at_mentions'].apply(airline_lookup)

In [34]:
df_mentions['American Air'] = df_mentions['at_mentions'].apply(airline_lookup)

In [36]:
df_mentions['Lufthansa'] = df_mentions['at_mentions'].apply(airline_lookup)

In [38]:
df_mentions['RyanAir'] = df_mentions['at_mentions'].apply(airline_lookup)

In [39]:
df_mentions['American Air'].value_counts()

0    5658631
1     795644
Name: American Air, dtype: int64

In [40]:
df_mentions

,id_str,at_mentions,KLM,British Airways,American Air,Lufthansa,RyanAir
0,1131172858951024640,[],0,0,0,0,0
1,1131172864147808256,"[880417607865815000, 1000793307688058900, 2789...",0,0,0,0,0
2,1131172867985485824,[18332190],0,1,0,0,0
3,1131172909463027712,"[227687574, 22536055, 13192972]",0,0,1,0,0
4,1131172975682605056,"[2835499934, 3274266002, 8279892]",0,0,0,0,0
...,...,...,...,...,...,...,...
6454270,1244696703690772480,[617675801],0,0,0,0,0
6454271,1244696708983984128,[],0,0,0,0,0
6454272,1244696710447800320,"[981851323372068900, 918884023, 2312039984, 22...",1,0,0,0,0
6454273,1244696713350217728,"[277637843, 2902821]",0,0,0,0,0
6454274,1244696713765564416,[38676903],0,0,0,0,0

In [41]:
export = df_mentions.drop('at_mentions', axis = 1)

In [42]:
export.to_csv('id_airline.csv')