In [1]:
%run import_file.ipynb

Python version is 3.7.5 (tags/v3.7.5:5c02a39a0b, Oct 15 2019, 00:11:34) [MSC v.1916 64 bit (AMD64)]
Pandas version is 1.0.3
C:/Users/20193815/Documents/Data Challenge/full_basic_with_sentiment.csv

c:\users\20193815\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3,5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Unnamed: 0        int64
_id              object
created_at       object
id               object
id_str          float64
text             object
user.id_str     float64
lang             object
timestamp_ms    float64
sentiment         int64
dtype: object
created_at converted to string, use timestamp for datetime dtype
Skip id, use id_str instead
timestamp converted to datetime dtype
Dtypes after transformation:
 Unnamed: 0               int64
created_at              object
id                      object
id_str                   Int64
text                    object
user.id_str              Int64
lang                    object
timestamp_ms    datetime64[ns]
sentiment                int64
dtype: object

In [2]:
df.head()

,Unnamed: 0,created_at,id,id_str,text,user.id_str,lang,timestamp_ms,sentiment
0,0,Wed May 22 12:20:00 +0000 2019,1.13117e+18,1131172858951024640,La ruta de easyJet entre Londres y Menorca tra...,393374091,es,2019-05-22 12:20:00.406,0
1,1,Wed May 22 12:20:01 +0000 2019,1.13117e+18,1131172864147808384,RT @bttr_as1: @goody_tracy Here’s a list of so...,3420691215,en,2019-05-22 12:20:01.645,1
2,2,Wed May 22 12:20:02 +0000 2019,1.13117e+18,1131172867985485824,@British_Airways,394376606,und,2019-05-22 12:20:02.560,0
3,3,Wed May 22 12:20:12 +0000 2019,1.13117e+18,1131172909463027584,RT @TheRaceRadio: Nice change by @AmericanAir....,36488556,en,2019-05-22 12:20:12.449,1
4,4,Wed May 22 12:20:28 +0000 2019,1.13117e+18,1131172975682605056,RT @sandeeprrao1991: BREAKING:-\nKLM to fly 3x...,14193348,en,2019-05-22 12:20:28.237,0