# Notebook for importing personal csv

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import sys
from datetime import datetime

### Check version of Pandas and version of Python

These should be 1.0.3 for Pandas and I am using 3.7.5 for Python because of SKlearn compatibilities. However, 3.8 should also work.

In [2]:
print('Python version is', sys.version)
print('Pandas version is', pd.__version__)

Python version is 3.7.5 (tags/v3.7.5:5c02a39a0b, Oct 15 2019, 00:11:34) [MSC v.1916 64 bit (AMD64)]
Pandas version is 1.0.3

### Importing the CSV

Please define your path in the variable.

In [3]:
from tkinter import filedialog
from tkinter import *

root = Tk()
root.lift()
root.attributes('-topmost',True)
root.filename =  filedialog.askopenfilename(initialdir = "/",title = "Select file")
file_path = root.filename
root.destroy()
print (file_path)

C:/Users/20193815/Documents/Data Challenge/full_basic_with_sentiment.csv

In [4]:
df = pd.read_csv(root.filename)
print('These columns are present in the file:')
print(df.dtypes)
df.head()

c:\users\20193815\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3,5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Unnamed: 0        int64
_id              object
created_at       object
id               object
id_str          float64
text             object
user.id_str     float64
lang             object
timestamp_ms    float64
sentiment         int64
dtype: object

,Unnamed: 0,_id,created_at,id,id_str,text,user.id_str,lang,timestamp_ms,sentiment
0,0,5ec66ff9f3c74bef68594542,Wed May 22 12:20:00 +0000 2019,1.13117e+18,1.131173e+18,La ruta de easyJet entre Londres y Menorca tra...,3.933741e+08,es,1.558528e+12,0
1,1,5ec66ff9f3c74bef68594543,Wed May 22 12:20:01 +0000 2019,1.13117e+18,1.131173e+18,RT @bttr_as1: @goody_tracy Here’s a list of so...,3.420691e+09,en,1.558528e+12,1
2,2,5ec66ff9f3c74bef68594544,Wed May 22 12:20:02 +0000 2019,1.13117e+18,1.131173e+18,@British_Airways,3.943766e+08,und,1.558528e+12,0
3,3,5ec66ff9f3c74bef68594545,Wed May 22 12:20:12 +0000 2019,1.13117e+18,1.131173e+18,RT @TheRaceRadio: Nice change by @AmericanAir....,3.648856e+07,en,1.558528e+12,1
4,4,5ec66ff9f3c74bef68594546,Wed May 22 12:20:28 +0000 2019,1.13117e+18,1.131173e+18,RT @sandeeprrao1991: BREAKING:-\nKLM to fly 3x...,1.419335e+07,en,1.558528e+12,0

### Cleaning up the df

First we remove the _id column if present, then all the missing values. Afterwards we convert columns that are present to the correct dtype.

In [1]:
def cleanup(df):
    """Removes unnecessary columns and converts to the correct dtype"""
    try:
        df.drop('_id', axis = 1, inplace = True)
    except:
        print('_id not found')
    
    #Remove rows where id has a missing value
    try:
        not_number = df[df['id_str'].isna()]
        lst = not_number.index.array
        df.drop(lst, inplace = True)
    except:
        pass
    col_names = list(df.columns)
    
    string = ['text', 'lang', ''] # Not all columnsnames have to be present in the used data set
    integer = ['id_str','user.id_str', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'sentiment']
    
    
    for col in col_names:
        if col == 'created_at':
            df[col] = df[col].astype(str)
            print('created_at converted to string, use timestamp for datetime dtype')
        if col == 'timestamp_ms':
            df['created_at'] = pd.to_datetime(df[col], unit = 'ms')
            df[col] = df[col].astype(pd.Int64Dtype())
            print('timestamp converted to datetime dtype')
        if col == 'id':
            print('Skip id, use id_str instead')
        if col in integer:
            df[col] = df[col].astype(pd.Int64Dtype())
        if col in string:
            df[col] = df[col].astype(str)
    #Remove duplicate id rows
    df.drop_duplicates(subset='id_str', keep="last", inplace = True)
    return df
user_input = input('Please specify your DataFrame name: ')
globals()[user_input] = cleanup(df)

print('Dtypes after transformation:\n',df.dtypes)
globals()[user_input].head()

Please specify your DataFrame name:  df

NameError: name 'df' is not defined

While string columns show up as having an object dtype, this is not actually the case. When retrieving a value from the column and checking the dtype it is a string. There might be some values in those columns that cause this issue.